.dropdown {
    margin-left: 0.15rem;
    width: 9rem;
}

.dropdown-placeholder {
    border: 0.1rem solid $input-background;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    text-align: center;
}

.dropdown-menus {
    border: 0.1rem solid $input-background;
    background-color: $dropdown-background;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
    position: absolute;
    text-align: center;
    width: 9rem;
}

.dropdown-controls {
    padding-bottom: 1rem;
}
