// Colours
$project-dropdown-background: rgb(223, 223, 223);
$project-border: rgb(221, 221, 221);
$project-background: white;
$project-text: rgb(20, 3, 173);
// Font Sizes
$font-small: 1rem;

@import './base/base';
@import './base/base-elements/buttons';
@import './other/error';
@import './base/base-elements/headers';
@import './base/base-elements/paragraphs';
@import './tabs';
@import './base/base-elements/containers';
@import './base/base-elements/inputs';
@import './other/perfections';
@import './base/base-elements/table';
@import './dropdown';
@import './pages';
@import './base/base-elements/lists';
@import './base/base-elements/_widths';