// Colours
$project-dropdown-background: rgb(241, 241, 241);
$project-border: rgb(218, 218, 218);
$project-background: white;
$project-background-disabled: rgb(245, 245, 245);
$project-text: rgb(20, 3, 173);
// Font Sizes
$font-small: 1rem;

@import './base/base';
@import './base/base-elements/buttons';
@import './other/error';
@import './base/base-elements/headers';
@import './base/base-elements/paragraphs';
@import './tabs';
@import './base/base-elements/containers';
@import './base/base-elements/inputs';
@import './other/perfections';
@import './base/base-elements/table';
@import './dropdown';
@import './pages';
@import './base/base-elements/lists';
@import './base/base-elements/_widths';