$project-colour: DarkOrchid;
$input-text: Indigo;
$input-background: rgb(235, 235, 235);
$freestanding-text: white;

@import './base/base';
@import './base/base-elements/buttons';
@import './other/error';
@import './base/base-elements/headers';
@import './base/base-elements/paragraphs';
@import './other/tabs';
@import './base/base-elements/containers';
@import './base/base-elements/inputs';