button {
    background-color:$project-colour;
    border: 0.25rem solid $project-colour;
    border-radius: 0.5rem 0.5rem;
    color: $freestanding-text;
    width:fit-content;
    height: fit-content;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem;
}

.button-X {
    background-color:$project-colour;
    border: 0.25rem solid $project-colour;
    border-radius: 0.5rem 0.5rem;
    color: $freestanding-text;
    padding: .1rem .5rem .1rem .5rem;   
    font-size: small;
}