.sa  {
    justify-content: space-around;
}

.sb {
    justify-content: space-between;
}

.baseline {
    align-items: center;
}

.top {
    align-items: flex-start;
}

.vert-center {
    align-items: baseline;
}

.cont-horiz {
    display: flex;
    flex-direction: row;
}

.centre {
    justify-content: center;
}

.cont-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-left {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5rem;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cont-border {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.25rem 0 0 0.5rem;
    padding: 1rem;
}

.mrgn-btm {
    margin-bottom: 0.75rem;
}

.mrgn-left {
    margin-left: 1rem;
}