.cont-horiz-sa .cont-horiz  {
    justify-content: space-around;
}

.cont-horiz {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-border {
    border: 0.25rem solid white;
    border-radius: 0.5rem 0.5rem;
    margin: 0.5rem;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}