.sa  {
    justify-content: space-around;
}

.sb {
    justify-content: space-between;
}

.baseline {
    align-items: center;
}

.cont-horiz {
    display: flex;
    flex-direction: row;
}

.centre {
    justify-content: center;
}

.cont-vert {
    display: flex;
    flex-direction: column;
}

.cont-left {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5rem;
}

.cont-border {
    border: 0.15rem solid white;
    border-radius: 0.5rem 0.5rem;
    margin: 0.25rem 0 0 0.5rem;
    padding: 1rem;
}

.mrgn-btm {
    margin-bottom: 0.75rem;
}

.width-15 {
    width: 15%;
}

.width-35 {
    width:35%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-77 {
    width: 77%;
}

.width-100 {
    width: 100%;
}