table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

table thead tr {
    text-align: center;
}

th {
    padding: 0 0.5rem 0 0.5rem;
}

td {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
